.add-blend {
  margin: 1rem;
  font-size: var(--step-0);

  &__header {
    margin-block: var(--step-1);
    font-size: var(--step-4);
    text-align: center;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.blend-product,
.blend-quantity,
.blend-destination-tank {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blend-formula {
  padding-block: var(--step-1);
  grid-column: span 3;
}

.blend-product,
.blend-quantity,
.blend-destination-tank,
.blend-formula,
.formula-components {
  &__header {
    margin-block: var(--step-0);
    font-size: var(--step-3);
  }
}

.blend-product {
  &__selector {
    padding: 0.25em 0.5em;
    border: 2px solid black;
    border-radius: 0.25em;
    font-weight: var(--font-weight-bold);
  }

  &__value {
    margin-block: 0.5em;
    font-family: monospace;
    font-size: var(--step-1);
  }
}

.blend-quantity {
  &__input {
    padding: 0.25em 0.5em;
    border: 2px solid black;
    border-radius: 0.25em;
    font-weight: var(--font-weight-bold);
  }
}

.blend-formula {
}

.formula-selector,
.tank-selector {
  display: flex;
  align-items: center;

  &__label {
    font-weight: var(--font-weight-bold);

    &::after {
      content: ": ";
    }
  }

  &__value {
    font-family: monospace;

    &[data-selection-disabled="true"] {
      padding-inline: 0.5em;
    }
  }

  &__button {
    background-color: transparent;
    font-weight: var(--font-weight-bold);
    font-size: 1.5em;
  }
}

.formula-components {
  &__list {
  }
  &__list-item {
    list-style: none;
    display: grid;
    grid-template-areas: "number product source quantity proportion";
    grid-template-columns: 5% 30% 22.5% 22.5% 20%;
  }
}

.form-controls {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  margin-block: var(--step-3);

  &__button {
    margin-inline: 0.5rem;
    padding: 0.25em 0.5em;
    border: 2px solid black;
    border-radius: 0.25em;
    font-weight: var(--font-weight-bold);
  }
}

.component-number {
  grid-area: number;
}

.component-product {
  grid-area: product;
}

.component-source {
  grid-area: source;
}

.component-quantity {
  grid-area: quantity;
}

.component-proportion {
  grid-area: proportion;
}

.component-number,
.component-product,
.component-source,
.component-proportion,
.component-quantity {
  padding-inline: 0.5em;

  &__header {
    margin-block: var(--step--2);
    font-size: var(--step-2);
  }

  &__value {
    font-family: monospace;
  }
}

.component-number {
  &__value {
    &::after {
      content: ". ";
    }
  }
}

.component-quantity {
  &__value {
    &::after {
      content: " gal.";
    }
  }
}

.formula-components__list-item:not(:first-of-type) .component-number__header,
.formula-components__list-item:not(:first-of-type) .component-product__header,
.formula-components__list-item:not(:first-of-type)
  .component-proportion__header,
.formula-components__list-item:not(:first-of-type) .component-source__header,
.formula-components__list-item:not(:first-of-type) .component-quantity__header {
  visibility: hidden;
  margin-block: 0;
}

.tank-selector[data-selection-disabled="true"] .tank-selector__button,
.formula-selector[data-selection-disabled="true"] .formula-selector__button {
  visibility: hidden;
}
