.add-formula {
  margin: 1rem;
  font-size: var(--step-0);

  &__header {
    margin-block: var(--step-1);
    font-size: var(--step-4);
    text-align: center;
  }

  &__form {
  }
}

.formula-product,
.component-product {
  &__header {
    margin-block: var(--step-0);
    font-size: var(--step-3);
  }

  &__selector {
    padding: 0.25em 0.5em;
    border: 2px solid black;
    border-radius: 0.25em;
    font-weight: var(--font-weight-bold);
  }

  &__value {
    margin-block: 0.5em;
    font-family: monospace;
    font-size: var(--step-1);
  }
}

.formula-product {
  display: grid;
  place-items: center;
}

.formula-components {
  &__header {
    margin-block: var(--step-0);
    font-size: var(--step-3);
  }
  &__list {
  }
  &__list-item {
    list-style: none;
    display: grid;
    grid-template-areas: "remove number product proportion note";
    grid-template-columns: 10% 5% 30% 15% 40%;
  }
  &__button {
    padding: 0.25em 0.5em;
    border: 2px solid black;
    border-radius: 0.25em;
    font-weight: var(--font-weight-bold);
  }
}

.component-remove {
  grid-area: remove;
  display: grid;
  place-items: end start;

  &__button {
    margin-block: var(--step--2);
    padding: 0.25em 0.5em;
    border: 2px solid black;
    border-radius: 0.25em;
    font-weight: var(--font-weight-bold);
  }
}

.component-number {
  grid-area: number;
}

.component-product {
  grid-area: product;

  &__button {
    background-color: transparent;
    font-weight: var(--font-weight-bold);
    font-size: 1.5em;
  }
}

.component-proportion {
  grid-area: proportion;
}

.component-note {
  grid-area: note;

  &__input {
    width: 100%;
  }
}

.component-number,
.component-product,
.component-proportion,
.component-note {
  padding-inline: 0.5em;

  &__header {
    margin-block: var(--step--2);
    font-size: var(--step-2);
  }

  &__value {
    font-family: monospace;
  }
}

.component-number {
  &__value {
    &::after {
      content: ". ";
    }
  }
}

.component-proportion,
.component-note {
  &__input {
    padding: 0.25em 0.5em;
    border: 2px solid black;
    border-radius: 0.25em;
    font-weight: var(--font-weight-bold);
  }
}

.formula-components__list-item:not(:first-of-type) .component-remove__header,
.formula-components__list-item:not(:first-of-type) .component-number__header,
.formula-components__list-item:not(:first-of-type) .component-product__header,
.formula-components__list-item:not(:first-of-type)
  .component-proportion__header,
.formula-components__list-item:not(:first-of-type) .component-note__header {
  visibility: hidden;
  margin-block: 0;
}

.form-controls {
  display: flex;
  justify-content: center;
  margin-block: var(--step-3);

  &__button {
    margin-inline: 0.5rem;
    padding: 0.25em 0.5em;
    border: 2px solid black;
    border-radius: 0.25em;
    font-weight: var(--font-weight-bold);
  }
}
