.map {
	margin-inline: auto;

	&_header {
		margin-block: 2rem;
		text-align: center;
		font-size: 1.7rem;
	}

	&_name {
		font-weight: 700;
		margin-inline: 0.25em;
	}

	&_controls {
		margin-block: 1.5rem;
		display: flex;
		justify-content: space-evenly;
		gap: 1em;

		&_label {
			font-weight: 700;
			font-size: 1.2rem;
		}

		&_input {
			margin-inline: 0.25em;
			text-align: center;
			font-family: monospace;
			font-size: inherit;
		}

		&_iconButton {
			border: none;
			background: transparent;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 1.2rem;
			font-weight: 700;
			gap: 0.5em;

			svg {	
				width: 48px;
				aspect-ratio: 1;

				circle {
					stroke: oklch(46.2% 0.074 70.89);
					fill: oklch(95.8% 0.074 70.89);
				}

				line {
					stroke: oklch(46.2% 0.074 70.89);
				}
			}

			&:hover, &[data-current-mode="true"] {
				color: green;
				circle {
					stroke: oklch(32% 0.122 20.07);
				}

				line {
					stroke: oklch(78.6% 0.122 20.07);
				}
			}
		}

		&_button {
			padding-block: 0.25em;
			padding-inline: 0.5em;
			border-style: solid;
			border-width: 2px 3px 3px 2px;
			border-radius: 4px;
			border-color: oklch(46.2% 0.074 70.89);
			background-color: oklch(95.8% 0.074 70.89);
			font-size: inherit;
			font-weight: 700;
			color: oklch(26.2% 0.074 70.89);
			cursor: pointer;

			&:hover, &:active {
				border-color: oklch(46.2% 0.074 70.89);
				background-color: oklch(78.6% 0.122 20.07);
				color: oklch(32% 0.122 20.07);
			}

			&:active {
				border-width: 3px 2px 2px 3px;
			}

			&[disabled], &:active {
				background-color: gray;
				border-style: dotted;
				border-color: black;
				color: white;
				cursor: not-allowed;
				border-width: 2px;
			}
		}
	}

	&_mouseCoordinates {
		margin-block: 1rem;
		text-align: center;
		font-size: 1.2rem;

		strong {
			font-family: monospace;
			font-size: 1.1em;
		}
	}

	&_layerContainer {
		margin-inline: auto;
		position: relative;
	}

	&_tanks {
		&_header {
			text-align: center;
			font-size: 1.5rem;
			font-weight: 700;
			text-decoration: underline;
		}

		&_list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 3rem;

			&_item {
				grid-column: span 1;
				font-size: 1.1rem;
				font-family: monospace;
				font-weight: 700;

				&_coordinates {
					font-weight: 400;
				}
			}
		}
	}

	&_preview {
		max-width: 60ch;
		word-break: break-all; 
	}
}