.errorMessage {
	color: red;
}

.fieldset {
	border: none;
	margin-block: 1rem;
}

.fieldWrapper {
	margin-block: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.fieldRow {
	margin-block: 0.5rem;
	display: flex;
	gap: 0.5rem;
	justify-content: space-between;
	align-items: baseline;
}

.fieldLabel {
	font-weight: 600;
}

.input {
	min-width: 7rem;
	padding: 0.125em 0.25em;
	border: 1px solid #333;
	background-color: white;
}

.selectTrigger {
	padding-inline: 0.5em 0.25em;
	display: flex;
	justify-content: space-between;
	gap: 0.25em;
	font-size: 1rem;
}

.selectIcon {}

.selectContent {
	margin-inline-start: -0.5em;
	background-color: white;
}

.selectItem {
	padding-inline: 0.25em;
}

.selectItem[data-highlighted] {
	background-color: black;
	color: white;
}

.scrollButton {
	padding-block: 4px;
	display: flex;
	justify-content: center;
}

.selectViewport {
}

.buttonRow {
	margin-block: 1rem;
	display: flex;
	justify-content: space-evenly;
}

.addButton {
	line-height: normal;
	padding: 0.125em 0.25em;
	border: 2px solid green;
	border-radius: 2px;
	background-color: white;
	align-self: end;
}

.submitButton, .cancelButton, .resetButton {
	padding: 0.125em 0.25em;
	font-size: 1.3rem;
	line-height: normal;
	border-width: 0.125rem;
	border-style: solid;
	border-radius: 2px;
}

.submitButton {
	border-color: darkgreen;
	background-color: lightgreen;
}

.cancelButton, .resetButton {
	border-color: darkred;
	background-color: pink;
}