.wrapper {
	padding-block: 0.5rem;
	width: 100%;
	display: flex;
	align-items: center;
	font-weight: 600;
	gap: 0.25rem;
}

.sortEntry {
	padding-inline: 0.35em;
	font-weight: 600;
	cursor: move;
	border-width: 2px;
	border-style: dotted;
	border-color: black;

	&:hover {
		border-color: var(--amber11);
		color: var(--amber11);
	}

	&[data-dragged-over-from="before"], 
	&[data-dragged-over-from="after"] {
		border-color: black;
		border-style: solid;
	}

	&[data-dragged-over-from="before"] {
		border-color: transparent black transparent transparent;
	}

	&[data-dragged-over-from="after"] {
		border-color: transparent transparent transparent black;
	}

	&[data-dragging="true"] {
		opacity: 0.5;
	}
}

.noSorts {
	font-weight: 400;
	padding-inline: 0.25em;
	font-style: italic;
	border-width: 1px;
	border-color: transparent;
}

.resetSorts {
	background-color: var(--tomato4);
	border-width: 1px;
	border-style: solid;
	border-color: var(--tomato12);
	border-radius: 4px;
	padding-inline: 0.25em;
	margin-inline-end: 0.5em;
	color: var(--tomato12);

	&:hover {
		background-color: var(--tomato10);
		color: var(--tomato3);
	}

	&[aria-disabled="true"], [aria-disabled="true"]:hover {
		background-color: grey;
		color: var(--tomato3);
		cursor: not-allowed;
	}
}