.view-blend {
  composes: article from "@/styles/article.module.css";

  &__header {
    composes: article__header from "@/styles/article.module.css";
  }

  &__controls {
    display: flex;
    justify-content: space-between;
  }
}

.blend-tank {
  display: grid;
  place-items: center;

  &__header {
    font-size: var(--step-3);
  }

  &__name {
    font-size: var(--step-2);
  }

  &__button {
    composes: button from "@/styles/button.module.css";
  }
}
