.factory-seeder {
  &__header {
    font-size: var(--step-3);
    margin-block: var(--step-0);
  }

  p {
    font-size: var(--step-1);
    max-width: 60ch;
    line-height: 1.35;
  }

  p + p {
    margin-block: var(--step--1);
  }

  &__form {
  }

  &__button {
    padding: 0.25em 0.5em;
    border: 2px solid black;
    border-radius: 0.25em;
    background-color: #8fd7b8;
    font-weight: 700;
  }

  &__status {
    margin-block: var(--step--1);
    font-size: var(--step-1);
  }
}
