.main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: oklch(94.69% 0.015 70.89);

	&_header {
		font-size: 2rem;
		text-decoration: underline;
		color: oklch(34.69% 0.015 70.89);
	}
}