.pageHeader {
	margin-block: 1rem;
	font-size: 3rem;
	font-weight: 600;
}

.productCount {
	font-size: 0.9rem;
}

.addProductLink {
	padding: 0.25em 0.5em;
	display: flex;
	gap: 0.25em;
	border: 2px solid var(--green12);
	background-color: var(--green7);
	color: black;
	font-weight: 600;
	text-decoration: none;
}