.main {
  height: 100vh;
  height: 100lvh;
  display: grid;
  place-items: center;
}

.welcome {
  max-width: min(100%, 30rem);
  text-align: center;

  &__header {
    font-size: var(--step-4);
  }

  &__login {
    display: grid;
    place-items: center;
  }

  p {
    margin-block: var(--step-0);
    font-size: var(--step-1);
  }
}

.login-button {
  &__inner {
    display: flex;
    padding-inline: 0.25rem;
    font-size: 2rem;
  }
  &__icon {
    margin-inline: 0.25rem;
  }
}
