.dialogOverlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
}

.dialogTitle {
  text-align: center;
  font-size: 1.7rem;
}

.dialogContent {
  min-width: 7rem;
  background: #EEE;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
}