.login-button {
  margin: 0.5rem;
  border-width: 2px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.65);
  font-size: 1.5rem;
  font-weight: 700;
  padding-block: 0.5rem;
  padding-inline: 0.25rem;
  display: grid;
  grid-auto-flow: row;
  gap: 0.5em;
}
