.user-menu {
  --size: 2rem;
  --margin-block: calc(var(--size) / 8);
  --padding-block: calc(var(--size) / 8);
  --border-width: 2px;
  --border-color: #5a534c;
  --border-radius: 4px;
  --background: #f4ece3;

  position: relative;
  place-self: center end;
  margin-block: var(--margin-block);
  margin-inline: 0.5rem;
  padding: var(--padding-block);
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--border-color);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background: var(--background);

  &[data-logged-in="false"] {
    border: none;
    padding: none;
    background: transparent;
  }

  &__button {
    padding: 0;
    display: flex;
    align-items: center;
    background: transparent;

    &:hover {
      background: gold;
    }
  }

  &__profile-pic {
    aspect-ratio: 1;
    width: var(--size);
  }

  &__user-name {
    padding-inline: 0.5rem;
    line-height: 1;
    font-size: var(--size);
    font-weight: 700;
  }

  &__icon {
    background: transparent;
    font-size: var(--size);
  }

  &__options {
    position: absolute;
    top: calc(var(--size) + var(--margin-block) + var(--padding-block));
    left: calc(var(--border-width) / -1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: calc(100% + var(--border-width) * 2);
    padding: 0.25rem;
    list-style: none;
    border-top-width: 0;
    border-bottom-width: var(--border-width);
    border-left-width: var(--border-width);
    border-right-width: var(--border-width);
    border-style: solid;
    border-color: var(--border-color);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background: var(--background);
  }

  &__option {
    width: 100%;
    padding-block: 0.25em;
    font-size: 1.25rem;
    font-weight: 700;
    background: transparent;

    &:hover {
      background: gold;
    }
  }

  &[data-menu-open="false"] {
    border-bottom-width: var(--border-width);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    .user-menu__options {
      visibility: hidden;
    }
  }
}

.profile-pic {
  &__image {
    border-radius: 50%;
  }
}
