.main {
  height: 100vh;
  height: 100lvh;
  margin: 1rem;
}

.onboard {
  composes: article from "@/styles/article.module.css";

  &__header {
    composes: article__header from "@/styles/article.module.css";
  }
}
